.el--input--width{
    .el-form-item__label {
        padding: 0;
        text-align: left;
    }
    .el-input__inner{
        margin-left: 10px;
        // width: 105px;
    }
    .el-input__inner{
        background-color: rgb(105, 104, 104);
        border: 0;
   }
   .el-form-item__label{
       color: #fff;
   }
    // .el-card__body{
    //     padding: 0;
    //   }

}