.el--input--width{
    .el-form-item__label {
        padding: 0;
        text-align: left;
    }
    .el-input__inner{
        margin-left: 10px;
        // width: 105px;
    }
    .el-input__inner{
        background-color: #5a2b2b;
   }
    // .el-card__body{
    //     padding: 0;
    //   }

}