.el--input--width{
    .el-form-item__label {
        padding: 0;
        text-align: left;
    }
    .el-input__inner{
        margin-left: 10px;
        // width: 105px;
    }
    .el-input__inner{
        background-color: rgb(165, 158, 158);
        border: 0;
   }
   .el-form-item__label{
       color: rgb(226, 223, 223);
   }
    // .el-card__body{
    //     padding: 0;
    //   }

}