.el--input--width{
    .el-form-item__label {
        padding: 0;
        text-align: left;
    }
    .el-input__inner{
        margin-left: 10px;
        background-color: rgba(199, 196, 196, 0.4);
        border: 0;
        width: 300px;
   }
   .el-form-item__label{
       color: rgb(158, 154, 154);
       border: 0;
   }
    // .el-card__body{
    //     padding: 0;
    //   }

}